.navbarContainer {
	background-color: #333;
	color: white;
}

.navbarContainer ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbarContainer li {
	padding: 10px;
}

.onHover:hover {
	background-color: #555;
}

.navbarContainer li a {
	text-decoration: none;
	color: white;
}

.menuToggle {
	display: none;
	padding: 10px;
	font-size: 20px;
	border: 0;
}

@media (max-width: 768px) {
	.navbarContainer ul {
		display: none;
		flex-direction: column;
		width: 100%;
	}

	.navbarContainer ul.open {
		display: flex;

	}

	.menuToggle {
		display: block;
	}
}